@import "normalize";
@import "variables";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}



.inline-svg svg {
  position: absolute;
  width: 0;
  height: 0;
}
