{{#input}}
<label for="{{id}}" class="form-text__label{{#if label.hidden}} hidden{{/if}}">{{label.text}}</label>
<div class="form-text">
  <input class="form-text__input" type="search" id="{{id}}" placeholder="{{placeholder}}">
</div>
{{/input}}