<div class="fractal--icons">
  {{#icon}}
    <div class="fractal--icon-example">
      <div class="fractal--icon-wrapper">
        <svg class="icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="#{{this}}" href="#{{this}}" />
        </svg>
      </div>
      <div class="fractal--icon-name">{{this}}</div>
    </div>
   {{/icon}}
</div>